/* Fonts */
* {
    font-family: 'Mulish', sans-serif;
}

/* Shared styles */
.text-heading {
    color: #131318;
    font-family: Mulish;
    font-size: 36px;
    font-weight: 800;
    line-height: normal;
}

.text-secondary {
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-weight: 400;
}

.btn-primary {
    border-radius: 8px;
    background: #FF5400;
    border: 0;
    color: #FFF;
    padding: 14px 24px;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 800;
}


header{
    padding: 0px 140px;
}
body {
    max-width: 1440px;
    margin: 0 auto;
}

/* Main styles */
main{
    margin: 100px 135px;
}
/* Nav styles */
nav {

    display: flex;
    justify-content: space-between;
    align-items: center;

}

.nav-title {
    color: #131318;
    font-size: 2.25rem;
    font-weight: 800;
}

nav ul {
    display: flex;
    gap: 44px;
}

nav li {
    list-style: none;
}

 a {
    text-decoration: none;
    color: #424247;
    font-size: 1.125rem;
    font-weight: 400;
}

.site-title {
    display: flex;
    gap: 2px;
    align-items: center
}
.footer-title img,
.site-title img {
    width: 48px;
    height: 56.008px;
}

/* Banner */
.banner-section {
    background-image: url('../Images/Group\ 13\ \(1\)\ \(1\).png');
    padding: 0 240px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-position: center;
background-repeat: no-repeat;
border-radius: 16px;
}

.banner-heading {
    color: #FFF;
    font-size: 4rem;
    font-weight: 800;
    margin-bottom: 24px;
}

.banner-text {
    text-align: center;
}

.find-now {
    margin-top: 64px;
    display: flex;
    gap: 24px;
    border-radius: 8px;
background: rgba(255, 255, 255, 0.30);
padding: 16px;
}

.find-now input,
.find-now select,
.find-now .btn-find-now {
    border-radius: 8px;
    background: #FFF;
    padding: 16px;
    border: 0;
}

/* Popular */
.popular-section {
    margin-top: 100px;
    display: flex;
    gap: 53px;
}

.popular-img img{
    width: 100%;
}

/* Destination section */
.destination-section {
    text-align: center;
    margin-top: 100px;
}

.des-img {
    position: relative;
    text-align: center;
    color: white;
}

.img-text {
    font-size: 1.75rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.destination-img-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.row-1,
.row-2,
.row-3 {
    display: flex;
    gap: 20px;
}

/* Card styles */
#blue-card{

    background: rgba(41, 206, 246, 0.05);
    }
.card{
    border-radius: 16px;
border: 1px solid rgba(251, 181, 99, 0.20);
background: rgba(251, 181, 99, 0.05);
padding: 32px;
width: 50%;
}
.choose-cards-container{
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
}
.card-row-1{
    display: flex;
    gap: 24px;
}
/* Footer styles */
footer{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 110px 335px;
    background: rgba(19, 19, 24, 0.05);
text-align: center;
}
.footer-title{
    display: flex;
    align-items: center;
}
hr{
 
align-self: center;    width: 90%;
    height: 1px;
}

.hide {
    display: none;
}

/* Mobile devices */
@media screen and (max-width:576px) {
 nav{
    display: none;
 }  
 header{
    padding: 0 20px;
 }
 main{
    margin: 10px 15px;
}
.text-secondary{
    color: rgba(19, 19, 24, 0.70);
font-size: .875rem;
font-weight: 400;
}
.destination-section,
.banner-heading{
    margin-top: 0px;
    color: #FFF;
font-size: 22px;
font-weight: 800;
}
.banner-section {
    padding: 32px 24px;
}
.card-row-1,
.destination-img-container,
.row-1,
.row-2,
.row-3,
.popular-section,
.find-now{
    margin-top: 24px;
    flex-direction: column;
}
.popular-img img{
    width: 335px;
    height: 176px;
}
.dimgs{
    width: 335px;
height: 176px;
}
.card{
    padding: 32px;
    width: 335px;
    height: 289px;
    flex-shrink: 0;}
    footer{
        padding: 32px 44px;
    }
}